<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- DataSource-->
    <bean id = "myDatabase" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">

        <property name="driverClass" value="com.mysql.jdbc.Driver"/>

        <property name="jdbcUrl" value="jdbc:mysql://10.1.2.164:3306/bluex"/>

        <property name="user" value="root"/>

        <property name="password" value="be0326zcl"/>

        <property name="maxPoolSize" value="40"/>

        <property name="minPoolSize" value="1"/>

        <property name="initialPoolSize" value="1"/>

        <property name="maxIdleTime" value="20" />
    </bean>
    <!-- SessionFactory-->
    <bean id="mySessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="myDatabase"/>
        <property name="annotatedClasses">
            <list>
                <value>com.bluex.springmvc.domain.Users</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
            </value>
        </property>
    </bean>
    <!--Dao -->
    <bean id = "userDao"
          class="com.bluex.springmvc.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="mySessionFactory"/>
    </bean>
    <!--Transaction -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="mySessionFactory"/>
    </bean>
    <tx:annotation-driven/>
    <bean id="myUserService" class="com.bluex.springmvc.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>